@import url('https://fonts.googleapis.com/css?family=Raleway');

$fonts: 'Raleway', sans-serif;
$color-accent: #e20020;
$color-font-bright: #000000;
$color-separator: #DDDDDD;
$color-bg-bright: #FFFFFF;
$margin-default: 12px;

/*Subtitle is too big for mobile*/
@media screen and (max-width: 600px) {
    header h2 {
        visibility: hidden;
        display: none;
    }
}

body {
    background-color: $color-bg-bright;
    color: $color-font-bright;
    font-family: $fonts; 
    margin: 0px;
    padding: 0px;
}

header {
    overflow: hidden;
    width: 100%;

    img#logo {
        height: 100px;
        float: left;
        margin: $margin-default;
        position: relative;
    }

    div#header-bar {
        background-color: $color-accent;
        min-height: 75px;
    }

    h1 {
        color: $color-bg-bright;
        margin: 0px;
        padding: $margin-default 0px 0px 0px;
    }

    h2 {
        color: $color-bg-bright;
        margin: 0px;
        padding-bottom: $margin-default;
    }
}

div.App {
    text-align: center;

    h2 {
        color: $color-accent;
    }

    a.stop {
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        color: $color-bg-bright;
        background-color: $color-accent;
        border: 1px solid $color-accent;
    }

    div.profile {
        background-color: $color-accent;
        width: 250px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 5px;

        img {
            margin-top: 25px;
            width: 200px;
        }

        h2 {
            color: $color-bg-bright;
        }
    }
}


a {
    font-weight: bold;
    color: $color-accent;
    text-decoration: none;
}